body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
h1{
  font-family: sans-serif;
  font-style: italic;
}
img{
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 50%
}
